# Node
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
.env
.venv/
*.egg-info/
*.log

# Frontend build
/build/
/dist/

# Coverage/test artifacts
/coverage/
*.lcov

# Editor/OS-specific
.DS_Store
.vscode/
*.swp
*.swo

# Local environment variables
.env*
!*.env.example 

# Python runtime files
*.sqlite3
